body {
    background: #e8f5e9;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: #0d47a1;
}

.card {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #90caf9;
}

input {
    width: 90%;
    margin: 5px;
    padding: 8px;
}

button {
    background: #2e7d32;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
}
