<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<div class="navbar">
    EV Anomaly Detector
</div>

<div class="container">
    <div class="card" style="max-width:400px;margin:auto;">
        <h2>Login</h2>

        <form method="POST">
            <input placeholder="Username" required>
            <input type="password" placeholder="Password" required>
            <button>Login</button>
        </form>
    </div>
</div>

</body>
</html>
